#header{
  position: relative;
  width:100%;
  height:100px;
  background-color: deepskyblue;
  text-align: center;
  margin-bottom: 30px;
}

#headText{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:white;
  font-size:40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:auto;
}

#container{
  margin:15px auto;
  text-align: center;
}

#input{
  width:60%;
  height:40px;
  font-size:20px;
  margin:auto;
}

#info{
  width:60%;
  height:40px;
  border:1px solid gray;
  margin:auto;
  font-size:20px;
}

#submit{
  position: relative;
  width:60%;
  height:40px;
  border:1px solid gray;
  margin:auto;
}

#post{
  position: absolute;
  width:120px;
  float:right;
  height:30px;
  background-color:deepskyblue;
  top:50%;
  left:100%;
  transform:translate(-110%,-50%);
  border-radius: 5px;
  color:white;
}

.information{
  display:block;
  width:60%;

  margin-bottom: 30px;
  margin:auto;
}

.imgDiv{
  margin:10px;
  transform:translate(0%,40%);
  float:left;
  width:60px;
  height:60px;
  background-color: green;
  border-radius: 300px;
}

.headerImg{
  width:100%;
}

.commentDiv{
  float:right;
  width:80%;
  border-radius: 1px solid green;
  padding:0 0px;
}

.time{
  block-size: 10px;
  margin-left:10px;
  font-family: fantasy;
}

.comment{
  padding:0 10px;
  border-radius: 15px;
  border:1px solid gray;
}

.items{
  margin-left:20px;
}
